<!-- Footer -->
<footer id="footer">
  <ul class="icons">
    <li><a href="https://www.google.com/intl/ja/gmail/about/" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
    <li><a href="https://twitter.com/" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="https://www.facebook.com/" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
    <li><a href="https://www.youtube.com/" class="icon brands alt fa-youtube"><span class="label">YouTube</span></a></li>
  </ul>
  <ul class="copyright">
    <li>&copy; Fuyuno. All rights reserved.</li><li> 2022</li>
  </ul>
</footer>



</body>
</html>