{% include "header.html" %}

<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h2>冬野秀俊</h2>
			<p>故郷である青森県で出版、作曲を中心に活動中。<br />
				いつまでも新しいことへチャレンジしていきたいと思っております。</p>
		</header>
		<span class="image"><img src="static/img/img01.png" alt="" /></span>
	</div>
	<a href="#one" class="goto-next scrolly">Next</a>
</section>

<!-- One -->
<section id="one" class="spotlight style1 bottom">
	<span class="image fit main"><img src="https://cdn.pixabay.com/photo/2013/10/27/17/14/snowfall-201496_1280.jpg" alt="" /></span>
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-4 col-12-medium">
					<header>
						<h2>作品紹介</h2>
						<p>書籍、楽曲</p>
					</header>
				</div>
				<div class="col-4 col-12-medium">
					<p>還暦後から執筆活動を開始し、これまで10作品のタイトルを出版することができました。ここまで来れたのも応援してくださる皆さんの応援のおかげだと思っております。
					</p>
				</div>
				<div class="col-4 col-12-medium">
					<p>また、執筆活動の傍ら音楽制作活動にも取り組んでおります。書籍の世界観が少しでも伝わればと思っています。</p>
				</div>
			</div>
		</div>
	</div>
	<a href="#two" class="goto-next scrolly">Next</a>
</section>

<!-- Two -->
<section id="two" class="spotlight style2 right">
	<span class="image fit main"><img src="https://images.unsplash.com/photo-1524548912622-94debf046f2f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2875&q=80" alt="" /></span>
	<div class="content">
		<header>
			<h2>隠密捜査官シリーズ</h2>
			<p>全五作の長編ミステリー小説</p>
		</header>
		<p>大きな社会に蔓延る闇、それに目を瞑る警視庁...。そんな社会に憤りを感じていた元新宿北警察署の大利家戸清一がどの組織にも属さない隠密捜査官として巨大組織の陰謀に迫る。</p>
		<ul class="actions">
			<li><a href="/orikedo" class="button">詳細</a></li>
		</ul>
	</div>
	<a href="#three" class="goto-next scrolly">Next</a>
</section>

<!-- Three -->
<section id="three" class="spotlight style3 left">
	<span class="image fit main bottom"><img src="https://images.unsplash.com/photo-1613817043584-4401819da928?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80" alt="" /></span>
	<div class="content">
		<header>
			<h2>カズちゃんシリーズ</h2>
			<p>青森の大家族で育った主人公の学生時代から教師の職を得て自立するまでを追ったビルドゥングスロマン小説</p>
		</header>
		<p>戦争を乗り越えて、稀有な“フツウの手相"をもつ彼女がつかんだものとは。
			「空に夢を描こう 大切な夢を描こう」。
			穏やかな凪の日々にも、暴雨にさらされる荒波の時代にも、歌に、人に、励まし励まされて生きてきた――人生には応援歌が必要だ。</p>
		<ul class="actions">
			<li><a href="/kazu" class="button">詳細</a></li>
		</ul>
	</div>
	<a href="#four" class="goto-next scrolly">Next</a>
</section>

<!-- Four -->
<section id="two" class="spotlight style4 right">
<span class="image fit main"><img src="https://cdn.pixabay.com/photo/2022/01/01/15/40/train-6907884_1280.jpg" alt="" /></span>
<div class="content">
	<header>
		<h2>下北に雪が降る</h2>
		<p>自身が作詞を手がけた冬のバラード</p>
	</header>
	<p>深々と雪が降る下北。自身の生まれ故郷を題材にした初のオリジナルソング。</p>
	<ul class="actions">
		<li><a href="songs" class="button">詳細</a></li>
	</ul>
</div>
<a href="#three" class="goto-next scrolly">Next</a>
</section>

<!-- Four -->
<section id="four" class="wrapper style1 special fade-up">
	<div class="container">
		<header class="major">
			<h2>活動内容</h2>
			<p>執筆、作詞を中心に幅広く活動中</p>
		</header>
		<div class="box alt">
			<div class="row gtr-uniform">
				<section class="col-4 col-6-medium col-12-xsmall">
					<span class="icon solid alt major fa-search"></span>
					<h3>隠密捜査官</h3>
					<p>闇の組織に対峙するミステリー小説（全5作）</p>
				</section>
				<section class="col-4 col-6-medium col-12-xsmall">
					<span class="icon solid alt major fa-comment"></span>
					<h3>三途の川・下北話</h3>
					<p>恐山にある４つの櫓を題材にしたストリー（全4作）</p>
				</section>
				<section class="col-4 col-6-medium col-12-xsmall">
					<span class="icon solid alt major fa-hand-paper"></span>
					<h3>カズちゃん（青春編）</h3>
					<p>戦禍の中、稀有な“フツウの手相"をもつ女性のストリー</p>
				</section>
				<section class="col-4 col-6-medium col-12-xsmall">
					<span class="icon solid alt major fa-music"></span>
					<h3>楽曲制作</h3>
					<p>"下北に雪が降る"、"よこはまロマンス"など</p>
				</section>
				<section class="col-4 col-6-medium col-12-xsmall">
					<span class="icon solid alt major fa-file"></span>
					<h3>ブログ</h3>
					<p>取材の様子などを更新中</p>
				</section>
			</div>
		</div>
	</div>
</section>


<!-- Five -->
<section id="five" class="wrapper style2 special fade-down">
	<div class="container">
		<header>
			<h2>連絡先</h2>
			<p>ご意見ご感想はこちらまで</p>
			<a href="/contact" class="button">コンタクトフォームへ</a>
		</header>
	</div>
</section>

{% include "footer.html" %}
