{% include "header.html" %}

<div id="main" class="wrapper style1">
	<div class="container">
		<header class="major">
			<h2>カズちゃん</h2>
			<p>稀有な“フツウの手相"をもつ女性のビルドゥングスロマン小説</p>
		</header>
		<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
			  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			  <!--<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
			  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
			  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
			  -->
			</div>
			<div class="carousel-inner">
			  <div class="carousel-item active" data-bs-interval="15000">
				<a href="https://www.amazon.co.jp/-/en/%E5%86%AC%E9%87%8E-%E7%A7%80%E4%BF%8A/dp/4344929756/ref=sr_1_1?crid=A0LCHSOZK6NA&keywords=%E5%86%AC%E9%87%8E%E7%A7%80%E4%BF%8A&qid=1643626825&sprefix=%E5%86%AC%E9%87%8E%E7%A7%80%E4%BF%8A%2Caps%2C222&sr=8-1"> <img src="static/img/img19.png" class="d-block w-100" alt="..."></a>
				<div class="carousel-caption d-none d-md-block">
				</div>
				<br>
				<h4>カズちゃん（青春編）</h4>
				<p>夢を叶えようと夢に支配されてはいけない。手相に運命を左右されてはいけない。人生の起伏をこそ楽しもう――
					昭和10年代、青森の大家族で育った主人公の学生時代から教師の職を得て自立するまでを追ったビルドゥングスロマン。
					戦争を乗り越えて、稀有な“フツウの手相"をもつ彼女がつかんだものとは。
					「空に夢を描こう 大切な夢を描こう」。
					穏やかな凪の日々にも、暴雨にさらされる荒波の時代にも、歌に、人に、励まし励まされて生きてきた――人生には応援歌が必要だ。</p>
				  <br><br><br><br><br><br>
			  </div>
				<br><br>
			<!--
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
			-->
		  </div>
	</div>
</div>

{% include "footer.html" %}