{% include "header.html" %}

<!-- Main -->
<div id="main" class="wrapper style1">
	<div class="container">
		<header class="major">
			<h2>隠密捜査官シリーズ</h2>
			<p>全五作の長編ミステリー小説</p>
		</header>
		<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
			  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
			  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
			  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
			  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
			</div>
			<div class="carousel-inner">
			  <div class="carousel-item active" data-bs-interval="10000">
				<a href="https://www.amazon.co.jp/-/en/%E5%86%AC%E9%87%8E-%E7%A7%80%E4%BF%8A/dp/4779005167/ref=sr_1_6?crid=A0LCHSOZK6NA&keywords=%E5%86%AC%E9%87%8E%E7%A7%80%E4%BF%8A&qid=1643626193&sprefix=%E5%86%AC%E9%87%8E%E7%A7%80%E4%BF%8A%2Caps%2C222&sr=8-6"> <img src="static/img/img10.png" class="d-block w-100" alt="..."></a>
				<div class="carousel-caption d-none d-md-block">
				</div>
				<br>
				<br>
				<h4>シリーズ第一弾</h4>
				<p>政治家やその背後の黒幕が関わる犯罪に目をつぶる、警視庁の体質に憤りを感じていた新宿北警察署の大利家戸清一は、贈収賄事件が絡む殺人事件ので殺人事件だけを追えと命ずる上司にくってかかり、辞表を出した。しかし、警視庁キャリアでもある義兄の一幸から十和田西警察署への左遷話と、どの組織にも属さない隠密捜査官としてのミッションを言い渡された。とまどいながらも隠密捜査官としての道を選ぶ清一。ほころびを見せない難事件、そこには腐敗した警視庁上層部の見えざる力が…。それぞれの思惑は、錯綜しながらも敏腕刑事・清一と事件のカギを握る人物を引き合わせてゆく―。</p>
			  </div>
			  <div class="carousel-item" data-bs-interval="15000">
				<a href="https://www.amazon.co.jp/-/en/%E5%86%AC%E9%87%8E-%E7%A7%80%E4%BF%8A/dp/4779007119/ref=sr_1_4?crid=A0LCHSOZK6NA&keywords=%E5%86%AC%E9%87%8E%E7%A7%80%E4%BF%8A&qid=1643626193&sprefix=%E5%86%AC%E9%87%8E%E7%A7%80%E4%BF%8A%2Caps%2C222&sr=8-4"> <img src="static/img/img11.png" class="d-block w-100" alt="..."></a>
				<div class="carousel-caption d-none d-md-block">
				</div>
				<br>
				<h4>シリーズ第二弾</h4>
				<p>敏腕刑事・大利家戸清一は、どの組織にも属さない隠密捜査官としての裏の顔を持っていた。家族で北海道旅行に来ていた清一は、父親を殺された金髪の少年・ジョージと偶然出会う。少年が迷彩服の男たちに追われていたところをかくまった清一に、義兄・一幸からの隠密捜査の依頼が届いた。内容は十年前に起きた未解決事件、八王子一家焼死事件の真相を暴くことだった。捜査を進めるうちに焼死したと思われていた佐藤宗一が生きていたことを突き止める。十年前の一家焼死事件と、１カ月前に起きたジョージの父親殺害事件。二つの事件にはなにか関係があるのか？　謎の焼死体が浮かびあがらせた、闇の争奪戦。執拗に犯罪を繰り返す防衛省、外務省の高官に、隠密捜査官・大利家戸清一が迫る！</p>
			  </div>
			  <div class="carousel-item" data-bs-interval="15000">
				<a href="https://www.amazon.co.jp/-/en/%E5%86%AC%E9%87%8E-%E7%A7%80%E4%BF%8A/dp/4779008689/ref=sr_1_5?crid=A0LCHSOZK6NA&keywords=%E5%86%AC%E9%87%8E%E7%A7%80%E4%BF%8A&qid=1643626193&sprefix=%E5%86%AC%E9%87%8E%E7%A7%80%E4%BF%8A%2Caps%2C222&sr=8-5"> <img src="static/img/img12.png" class="d-block w-100" alt="..."></a>
				<div class="carousel-caption d-none d-md-block">
				</div>
				<br>
				<h4>シリーズ第三弾</h4>
				<p>隠密捜査官・大利家戸清一が命じられた任務は、今から半世紀以上も前、ある地域を牛耳っていた寺の悪行を暴く特命。時を同じくして、過去に清一が調査している住職によって殺害された一族の末裔が、復讐のために住職の子孫である二人を殺害する事件が起きた。引き寄せられるように結びつく二つの事件。そこには、かつて儀式という名のもとに行われていた夜這い犠牲者の煩悶と、妾の悲哀があった。忘れ去られることのない怨恨が、時を隔て殺意に変わり、闇の中の犯人を浮かび上がらせた。 50年前の放火殺人事件と数々の寺の悪行。知るものはみな口をつぐむ忌まわしい過去に、隠密捜査官・大利家戸清一が迫る。 </p>
				  <br>
			  </div>
			  <div class="carousel-item" data-bs-interval="15000">
				<a href="https://www.amazon.co.jp/-/en/%E5%86%AC%E9%87%8E-%E7%A7%80%E4%BF%8A/dp/4344972449/ref=sr_1_3?crid=A0LCHSOZK6NA&keywords=%E5%86%AC%E9%87%8E%E7%A7%80%E4%BF%8A&qid=1643626193&sprefix=%E5%86%AC%E9%87%8E%E7%A7%80%E4%BF%8A%2Caps%2C222&sr=8-3"> <img src="static/img/img13.png" class="d-block w-100" alt="..."></a>
				<div class="carousel-caption d-none d-md-block">
				</div>
				<br>
				<h4>シリーズ第四弾</h4>
				<p>義兄から過去の事件についての匿名捜査を依頼された清一は、捜査過程で、別の事件とのかかわりに気づく。
					しかし、事件の全貌が見え始めた時に告げられたのは、匿名捜査の取り止めだった。
					7年前に財務省で起きた巨額紛失事件に、隠密捜査官･大利家戸清一が迫る。</p>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
			  </div>
			  <div class="carousel-item" data-bs-interval="15000">
				<a href="https://www.amazon.co.jp/-/en/%E5%86%AC%E9%87%8E%E7%A7%80%E4%BF%8A-ebook/dp/B07B2PHZYH/ref=sr_1_2?crid=A0LCHSOZK6NA&keywords=%E5%86%AC%E9%87%8E%E7%A7%80%E4%BF%8A&qid=1643626193&sprefix=%E5%86%AC%E9%87%8E%E7%A7%80%E4%BF%8A%2Caps%2C222&sr=8-2"> <img src="static/img/img14.png" class="d-block w-100" alt="..."></a>
				<div class="carousel-caption d-none d-md-block">
				</div>
				<br>
				<h4>シリーズ第五弾</h4>
				<p>異動したばかりの清一を含む館鼻分署の刑事たち6人は、とあることから殺人事件の捜査を始める。
					もう一つの依頼と合わせて捜査のために東京へ向かった清一だったが、そこで命を狙われ、
					仲間も捕えられてしまう。見え隠れする公安の影、仲間の裏切り――。清一は無事に事件を
					解決することができるのか。</p>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
			  </div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		  </div>
	</div>
</div>

{% include "footer.html" %}