{% include "header.html" %}

  <!-- Page Header -->
<header class="masthead" style="background-image: url('{{post.img_url}}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <br><br><br>
          <h2>{{post.title}}</h2>
          <h3 class="subheading">{{post.subtitle}}</h3>
          <span class="meta">Posted on {{post.date}}</span>
          <br><br>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          {{ post.body|safe }}

        {% if current_user.id == 1: %}
        <div class="clearfix">
           <a class="btn btn-primary float-right" href="{{url_for('edit_post', post_id=post.id)}}">Edit Post</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</article>


{% include "footer.html" %}