{% include "header.html" %}

<!-- Main -->
<div id="main" class="wrapper style1">
	<div class="container">
		<header class="major">
			<h2>三途の川・下北話シリーズ</h2>
			<p>恐山の4つの櫓にまつわるスピリチュアル小説（全四作）</p>
		</header>
		<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
			  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
			  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
			  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
			</div>
			<div class="carousel-inner">
			  <div class="carousel-item active" data-bs-interval="15000">
				  <a href="https://www.amazon.co.jp/-/en/%E3%81%84%E3%81%97-%E7%94%B0%E3%80%85/dp/4835570758/ref=sr_1_3?crid=3OSOI8RVRYY2E&keywords=%E4%B8%89%E9%80%94%E3%81%AE%E5%B7%9D%E4%B8%8B%E5%8C%97&qid=1643626556&sprefix=%E4%B8%89%E9%80%94%E3%81%AE%E5%B7%9D+%E4%B8%8B%E5%8C%97%2Caps%2C240&sr=8-3"><img src="static/img/img15.png" class="d-block w-100" alt="..."></a>
				<div class="carousel-caption d-none d-md-block">
				</div>
				<br>
				<h4>シリーズ第一弾</h4>
				  <p>下北半島の霊場・恐山を舞台に、死後の世界をのぞき、人の運命とは何かを問うー。</p>
				  <br>
				  <br>
				  <br>

			  </div>
			  <div class="carousel-item" data-bs-interval="15000">
				<a href="https://www.amazon.co.jp/-/en/%E3%81%84%E3%81%97-%E7%94%B0%E3%80%85/dp/4286002543/ref=sr_1_4?crid=3OSOI8RVRYY2E&keywords=%E4%B8%89%E9%80%94%E3%81%AE%E5%B7%9D%E4%B8%8B%E5%8C%97&qid=1643626556&sprefix=%E4%B8%89%E9%80%94%E3%81%AE%E5%B7%9D+%E4%B8%8B%E5%8C%97%2Caps%2C240&sr=8-4"> <img src="static/img/img16.png" class="d-block w-100" alt="..."></a>
				<div class="carousel-caption d-none d-md-block">
				</div>
				<br>
				<h4>シリーズ第二弾</h4>
				<p>この世とあの世の境目で始まる「死者＆鬼ＶＳ癌細胞」の戦い。恐山の闇の中、死者たちの魂を見守る四つの櫓。そこにいる、閻魔の従人・赤鬼と戦国の軍師たちが、瀕死の人間を救うため、ナノメートルの世界に挑んだー。</p>
				  <br>
				  <br>

			  </div>
			  <div class="carousel-item" data-bs-interval="15000">
				<a href="https://www.amazon.co.jp/-/en/%E3%81%84%E3%81%97-%E7%94%B0%E3%80%85/dp/4286031608/ref=sr_1_2?crid=3OSOI8RVRYY2E&keywords=%E4%B8%89%E9%80%94%E3%81%AE%E5%B7%9D%E4%B8%8B%E5%8C%97&qid=1643626556&sprefix=%E4%B8%89%E9%80%94%E3%81%AE%E5%B7%9D+%E4%B8%8B%E5%8C%97%2Caps%2C240&sr=8-2"> <img src="static/img/img17.png" class="d-block w-100" alt="..."></a>
				<div class="carousel-caption d-none d-md-block">
				</div>
				<br>
				<h4>シリーズ第三弾</h4>
				<p>恐山の、四つの櫓。死者たちの魂を導く、閻魔の従人・４匹の鬼。裁判官・緑鬼を試すような怪奇事件の法廷が開かれた。「爺、私も強くなりたい」「よろしいですよ。ただ、正しく強くおなりなされ」子を思う親、主人に仕える従人、権力に心奪われる者、人を裁く鬼…愛情や逡巡、それぞれの想いが交差して、新たな戦いが幕を開ける。</p>
			  </div>
			  <div class="carousel-item" data-bs-interval="15000">
				<a href="https://www.amazon.co.jp/-/en/%E3%81%84%E3%81%97-%E7%94%B0%E3%80%85/dp/4286052877/ref=sr_1_1?crid=3OSOI8RVRYY2E&keywords=%E4%B8%89%E9%80%94%E3%81%AE%E5%B7%9D%E4%B8%8B%E5%8C%97&qid=1643626556&sprefix=%E4%B8%89%E9%80%94%E3%81%AE%E5%B7%9D+%E4%B8%8B%E5%8C%97%2Caps%2C240&sr=8-1"> <img src="static/img/img18.png" class="d-block w-100" alt="..."></a>
				<div class="carousel-caption d-none d-md-block">
				</div>
				<br>
				<h4>シリーズ第四弾</h4>
				<p>義兄から過去の事件についての匿名捜査を依頼された清一は、捜査過程で、別の事件とのかかわりに気づく。
					恐山にある４つの櫓。そのひとつ、罪人に刑罰を与える刑場である黄櫓で脱走、暴動が起こった！黄鬼、そして小閻魔が、極楽浜を守るために凄絶な闘いに挑む。</p>
				  <br>

			  </div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		  </div>
	</div>
</div>

{% include "footer.html" %}

