{% include "header.html" %}

<div id="main" class="wrapper style1">
	<div class="container">

		<header class="major">
			<h2>楽曲制作</h2>
			<p>歌謡曲を中心に作曲しています。</p>
		</header>

		<div class="container">
			<div class="row">
				<div class="col">
					<div class="img-container">
						<img src="https://cdn.pixabay.com/photo/2022/01/01/15/40/train-6907884_1280.jpg" alt="img-1" class="play"/>
					</div>
					<br>
					<h4>下北に雪が降る</h4>
					<p>深々と降り積もる雪国の歌</p>
					<audio src="static/audio/01 下北に雪が降る.mp3" class="audio" controls></audio>
				</div>
				<div class="col">
					<div class="img-container">
						<img src="https://images.unsplash.com/photo-1583324939368-27a24b118615?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80" alt="img-1" class="play"/>
					</div>
					<br>
					<h4>よこはまロマンス</h4>
					<p>ヨコハマの歌</p>
					<audio src="https://www.quackit.com/music/good_enough.mp3" class="audio" controls></audio>
				</div>
				<div class="col">
					<div class="img-container">
						<img src="https://images.unsplash.com/photo-1600115010857-edbbc7e1efb8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" alt="img-1" class="play"/>
					</div>
					<br>
					<h4>真夏の太陽</h4>
					<p>真夏の歌</p>
					<audio src="https://www.quackit.com/music/good_enough.mp3" class="audio" controls></audio>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="img-container">
						<img src="https://images.unsplash.com/photo-1508614999368-9260051292e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" alt="img-1" class="play"/>
					</div>
					<br>
					<h4>Update Later</h4>
					<p>---</p>
					<audio src="https://www.quackit.com/music/good_enough.mp3" class="audio" controls></audio>
				</div>
				<div class="col">
					<div class="img-container">
						<img src="https://images.unsplash.com/photo-1508614999368-9260051292e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" alt="img-1" class="play"/>
					</div>
					<br>
					<h4>Update Later</h4>
					<p>---</p>
					<audio src="https://www.quackit.com/music/good_enough.mp3" class="audio" controls></audio>
				</div>
				<div class="col">
					<div class="img-container">
						<img src="https://images.unsplash.com/photo-1508614999368-9260051292e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" alt="img-1" class="play"/>
					</div>
					<br>
					<h4>Update Later</h4>
					<p>---</p>
					<audio src="https://www.quackit.com/music/good_enough.mp3" class="audio" controls></audio>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="img-container">
						<img src="https://images.unsplash.com/photo-1508614999368-9260051292e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" alt="img-1" class="play"/>
					</div>
					<br>
					<h4>Update Later</h4>
					<p>---</p>
					<audio src="https://www.quackit.com/music/good_enough.mp3" class="audio" controls></audio>
				</div>
				<div class="col">
					<div class="img-container">
						<img src="https://images.unsplash.com/photo-1508614999368-9260051292e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" alt="img-1" class="play"/>
					</div>
					<br>
					<h4>Update Later</h4>
					<p>---</p>
					<audio src="https://www.quackit.com/music/good_enough.mp3" class="audio" controls></audio>
				</div>
				<div class="col">
					<div class="img-container">
						<img src="https://images.unsplash.com/photo-1508614999368-9260051292e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" alt="img-1" class="play"/>
					</div>
					<br>
					<h4>Update Later</h4>
					<p>---</p>
					<audio src="https://www.quackit.com/music/good_enough.mp3" class="audio" controls></audio>
				</div>
			</div>
		</div>
	</div>
</div>

{% include "footer.html" %}